.table {
    margin-top: 50px;
    width: 400px;
    background-color: #fff;
    outline: 3px solid gray;
}

.activeCell {
    background-color: transparent;
}

.notActive {
    background-color: #F3F6F9;
}