.profile {
background-color: #fafafa;
width: 400px;
outline: 3px solid gray;
}

.description {
    padding-top: 30px;
}

.avatar {
    padding-bottom: 20px;
}

.name {
    font-size: 30px;
}

.tag {
    color: #807e7e;

}

.location {
    color: #807e7e;
}

.stats {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
}

.item {
    flex: 1;
    background-color: #D3D3D3;
    padding: 0 auto;
    border: 2px grey solid;
    text-align: center;    
    /* width: 100%; */
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 20px;
}

.label {
    display: block;
    text-transform: capitalize;
}

.value {
    display: block;
    font-weight: bold;
}

